@media (max-width: 600px) {
  .wrapper {
    width: auto;
    padding: 0 15px 0 15px;
  }

  header {
    padding-left: 21px;
  }

  .pc {
    display: none;
  }

  .home-content {
    margin-top: 179px;
    margin-left: 26px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  .home-content strong {
    font-size: 16px;
    display: block;
    width: 201px;
  }

  #home {
    height: 673px;
  }

  .shop-content {
    flex-direction: column;
    margin-top: 103px;
  }

  .concept {
    width: auto;
    padding: 0;
    background: none;
    border: none;
  }
  .concept h2 {
    font-size: 38px;
  }
  .concept strong {
    font-size: 12px;
  }
  .concept dt {
    font-size: 20px;
    margin-top: 29px;
  }
  .concept dd {
    font-size: 12px;
    margin-bottom: 34px;
  }

  .item-content {
    margin-top: 127.7px;
  }
  .item-content h2 {
    font-size: 38px;
  }
  .item-content strong {
    font-size: 12px;
  }

  .makeitems {
    flex-direction: column;
  }

  .makeitem {
    width: auto;
    margin-bottom: 35px;
  }
  .makeitem img {
    width: 100%;
  }
  .makeitem figcaption {
    margin-top: 16px;
  }
  .makeitem strong {
    font-size: 12px;
  }
  .makeitem dl {
    margin-top: 13px;
  }
  .makeitem dd {
    font-size: 12px;
  }

  .price-content {
    margin-top: 110px;
    height: 602px;
  }

  .price {
    width: auto;
    padding-left: 58px;
    padding-right: 58px;
  }
  .price h2 {
    font-size: 38px;
  }
  .price strong {
    font-size: 12px;
  }

  .price-table {
    font-size: 12px;
  }

  .production {
    top: -48px;
    left: 0px;
  }
  .production img {
    height: 646px;
  }

  .blog-content {
    margin-top: 101px;
  }
  .blog-content h2 {
    font-size: 38px;
  }
  .blog-content strong {
    font-size: 12px;
  }

  .blogs {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .blog {
    width: 169px;
  }
  .blog figcaption {
    margin-top: 8px;
    margin-bottom: 30px;
  }
  .blog time {
    font-size: 12px;
  }
  .blog p {
    font-size: 12px;
  }

  .access-content {
    margin-top: 112px;
  }
  .access-content h2 {
    font-size: 38px;
  }
  .access-content h2:after {
    margin-top: 12px;
  }
  .access-content strong {
    font-size: 12px;
  }

  .access-info {
    margin-top: 42px;
    margin-bottom: 32px;
    flex-direction: column;
  }

  .access-detail dt {
    font-size: 18px;
  }
  .access-detail dd {
    font-size: 12px;
  }

  .access-map iframe {
    width: 100%;
    height: 218px;
    margin-top: 4px;
  }

  .way {
    width: auto;
  }
  .way h3 {
    font-size: 24px;
  }

  .way-desc {
    font-size: 12px;
  }
  .way-desc li {
    margin-bottom: 12px;
  }

  footer {
    height: 182px;
    padding-top: 70px;
    margin-top: 125px;
  }
  footer p {
    font-size: 40px;
  }
}

@media (min-width: 600px) {
  .iphone {
    display: none;
  }
}